.products{
    width: 40vw;
    background-color: rgb(204, 200, 200);
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    /* justify-content: space-between; */
}